/*****************/
/***** RESET *****/
/*****************/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --titulos: "Bebas Neue", sans-serif;
  --textos: "Montserrat", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

main {
  background-color: rgb(14, 14, 14);
}

/******************/
/***** HEADER *****/
/******************/

.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  background-color: rgba(14, 14, 14, .9);
  z-index: 1;
}

.lj-logo h3 {
  font-family: var(--titulos);
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 3px;
  color: rgb(247, 196, 86);
  z-index: 9;
  cursor: pointer;
}

.menu {
  height: 100%;
  gap: 2rem;
}

.menu a {
  width: 100%;
  color: white;
}

.nav {
  position: fixed;
  z-index: 9;
  right: 0;
  top: 0;
  background-color: rgba(14, 14, 14, .95);
  height: 100dvh;
  width: 100%;
  padding: 2rem;
  /* box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75); */
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  transition: .2s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-visible {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.menu-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lj-logo-menu h3 {
  font-family: var(--titulos);
  font-weight: 500;
  font-size: 4rem;
  letter-spacing: 4px;
  color: rgb(247, 196, 86);
  margin-bottom: 3rem;
}

.menu-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 3rem;
}

.menu-nav li {
  width: 100%;
  padding: 1rem 3rem;
  transition: all .3s;
  cursor: pointer;
  font-family: var(--textos);
  font-size: 1.7rem;
}

.menu-nav li:hover {
  color: rgb(247, 196, 86);
}

.open-menu,
.close-menu {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.close-menu {
  color: rgb(255, 255, 255);
  font-size: 3rem;
}

.open-menu {
  color: rgb(255, 254, 254);
  align-self: center;
}

.video-pc {
  width: 100%;
}

.video-mobile {
  display:none
}

/******************/
/****** MAIN ******/
/******************/

.primera-seccion-pc {
  width: 100%;
  height: 100dvh;
  height: 100vh;
  background-image: url("../img/fondo-virgen-galeria.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-x: hidden;
  background-color: white;
}

.ps-parte1,
.ps-parte3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ps-parte1 img {
  width: 27%;
}

.ps-parte3 img {
  width: 50%;
}

.primera-seccion-mobile {
  display: none;
}

.segunda-seccion {
  width: 100%;
  height: 100dvh;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.parte1,
.parte2 {
  position: relative;
  width: 50%;
  height: 100dvh;
  height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parte1 {
  background-image: url("../img/tercer-seccion-pt1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parte1 h2,
.parte2 h2 {
  font-family: var(--titulos);
  font-size: 7rem;
  font-weight: 300;
  letter-spacing: 20px;
  color: rgba(255, 255, 255, .2)
}

.parte2 {
  background-image: url("../img/tercer-seccion-pt2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parte-info {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 7, 7, .9);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 3rem;
  transition: bottom 0.2s ease-in-out;
}

.parte-info h3 {
  font-size: 3.5rem;
  font-family: var(--titulos);
  font-weight: 300;
  letter-spacing: 20px;
}

.info-parrafo {
  width: 60%;
}

.info-parrafo p {
  font-size: 1.5rem;
  font-family: var(--textos);
  font-weight: 300;
}

.ss-boton {
  background: none;
  border: 2px solid white;
  padding: 1rem 5rem;
  border-radius: 10px;
  color: white;
  font-family: var(--textos);
  font-weight: 500;
  font-size: 1.5rem;
  transition: all .2s ease-in;
}

.ss-boton:hover {
  background-color: white;
  color: black;
  font-weight: 700;
  cursor: pointer;
}

.parte1:hover .parte-info,
.parte2:hover .parte-info {
  bottom: 0;
}

.tercer-seccion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 100%;
  height: auto;
  padding: 3rem;
  background-color: rgb(14, 14, 14);
  gap: 3rem;
}

.tercer-seccion h2 {
  font-family: var(--titulos);
  color: rgb(247, 196, 86);
  font-size: 5rem;
  font-weight: 100;
  letter-spacing: 10px;
}

.ts-parte {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  color: white;
}

.nombre-video-1,
.nombre-video-3 {
  text-align: right;
  margin-right: 3rem;
}

.nombre-video-2 {
  margin-left: 3rem;
}

.nombre-video-1 h5,
.nombre-video-2 h5,
.nombre-video-3 h5 {
  font-family: var(--textos);
  font-weight: 300;
  font-size: 2rem;
}

.nombre-video-1 h3,
.nombre-video-2 h3,
.nombre-video-3 h3 {
  font-family: var(--textos);
  font-weight: 700;
  font-size: 3rem;
}

.video1 iframe,
.video2 iframe,
.video3 iframe {
  width: 560px;
  height: 315px;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  align-items: center;
  background-color: rgb(5, 5, 5); 
  color: white;
}

.footer-logo h3 {
  font-family: var(--titulos);
  font-weight: 500;
  font-size: 3rem;
  letter-spacing: 3px;
  color: rgb(247, 196, 86);
  cursor: pointer;
}

.footer-menu {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  
}

.footer-menu a {
  font-family: var(--textos);
  color: white;
  transition: all .3s;
}

.footer-menu a:hover {
  color: rgb(247, 196, 86);
}

.footer-redes,
.menu-redes {
  display: flex;
  gap: 5rem;
  margin-top: 2rem;
}

.footer-redes i,
.menu-redes i {
  background-color: white;
  padding: .5rem;
  border-radius: 50%;
  font-size: 1.5rem;
  color: rgb(14, 14, 14);
  transition: all .3s;
}

.footer-redes i:hover,
.menu-redes i:hover {
  background-color: rgb(247, 196, 86);
  color: white;
}


/*****************/
/****** BIO ******/
/*****************/

.hero-bio-pc {
  width: 100%;
  height: 100vh;
  background-image: url("../img/hero-pc-bkgg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation:bg-pan-tr 5s both
}

@keyframes bg-pan-tr{0%{background-position:0 100%}100%{background-position:100% 0}}

.hero-bio-mobile {
  display: none;
}

.bio-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding: 3rem 4rem;
  background-color: rgb(14, 14, 14);
  color: white;
}

.bio-info h2 {
  font-family: var(--textos);
  font-size: 4rem;
  font-weight: 800;
  color: rgb(247, 196, 86);
  text-transform: uppercase;
}

.bio-info h3 {
  font-family: var(--titulos);
  font-size: 3rem;
  font-weight: 500;
  color: rgb(247, 196, 86);
  margin-bottom: 2rem;
}

.bio-info p {
  font-family: var(--textos);
  font-size: 1.2rem;
}

.bio-fotos {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(14, 14, 14);
  padding-bottom: 3rem;
}

.bio-foto {
  width: 30%;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .3s ease-in-out;
}

.bio-foto-1{
  background-image: url("../img/bio-foto-1.jpeg");
}

.bio-foto-2{
  background-image: url("../img/bio-foto-2.jpeg");
}

.bio-foto-3{
  background-image: url("../img/bio-foto-3.jpeg");
}

.bio-fotos:hover .bio-foto {
  filter: grayscale(1);
}

.bio-fotos .bio-foto:hover {
  filter: grayscale(0);
}


/**********************/
/****** CONTACTO ******/
/**********************/

.hero-contacto-pc {
  width: 100%;
  height: 100vh;
  background-image: url("../img/contacto-pc-bkg.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(10px); 
  animation: clearBlur 1.5s ease-in-out forwards;
}

@keyframes clearBlur {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0px);
  }
}

.hero-contacto-mobile {
  display: none;
}

.contacto-main {
  width: 100%;
  padding: 3rem 4rem;
}

.contacto-titulo h3{
  font-family: var(--textos);
  font-size: 2.5rem;
  font-weight: 800;
  color: rgb(255, 255, 255);
  text-align: center;
}

.contacto-titulo h2 {
  font-family: var(--titulos);
  font-size: 4rem;
  font-weight: 500;
  color: rgb(247, 196, 86);
  margin-bottom: 2rem;
  text-align: center;
  letter-spacing: 15px;
}

.contacto-info {
  display:flex;
  flex-direction: row;
  gap: 3rem;
  width: 100%;
  height: auto;
  align-items: center;
}

.contactos-texto {
  flex: 1;
  color: white;
  font-family: var(--textos);
  font-size: 1.2rem;
  padding: 2rem;
}

.contactos-datos {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem;
  font-family: var(--textos);
  font-size: 1.2rem;
  gap: 1rem;
}

.contactos-datos a {
  color: white;
}

.contactos-datos i {
  color:rgb(247, 196, 86);
  margin-right: .5rem;
}

.contacto-abajo {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 4rem;
}

.contacto-foto {
  flex: 1;
  height: auto;
  background-image: url("../img/contacto-bkg-abajo.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all .3s ease-in-out;
}

.contacto-formulario {
  flex: 1;
  height: 70dvh;
  height: 70vh;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.contacto-formulario h4 {
  font-weight: 900;
  font-size: 24px;
  color: white;
  margin-bottom: 20px;
  text-align: center;
  font-family: var(--textos);
}

.contacto-formulario form {
  width: 80%;
  height: auto;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
}

.contacto_nombre {
  width: 100%;
  padding: .5rem;
}

.contacto_email {
  width: 100%;
  padding: .5rem;
}

.contacto_selector {
  width: 100%;
  padding: .5rem;
}

.form-control {
  padding: 10px;
}

.contacto_boton {
  width: 30%;
  padding: 7px;
  align-self: center;
  background-color: rgb(133, 0, 33);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.contacto-textarea {
  width: 100%;
  padding: .8rem;
  height: 120px;
  font-family: var(--textos);
}

.contacto_boton:hover {
  background-color: rgb(206, 25, 70);
}

#mensaje-resultado {
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}

.mensaje-exito {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}

.mensaje-error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}


/***************************/
/****** MEDIA QUERIES ******/
/***************************/


@media screen and (max-width:1030px) {

  .ts-parte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ts-parte2 {
    display: flex;
    flex-direction: column-reverse;
  }
  
  .nombre-video-1,
  .nombre-video-2,
  .nombre-video-3 {
    text-align: center;
    width: 100%;
    margin: 0;
  }

}


@media screen and (max-width: 900px) {
  
  .parte1 h2,
  .parte2 h2 {
    font-size: 3rem;
    letter-spacing: 15px;
    color: rgba(255, 255, 255, .2)
  }
  
  .parte-info {
    padding: 2rem;
  }
  
  .parte-info h3 {
    font-size: 2.5rem;
  }
  
  .info-parrafo {
    width: 80%;
  }
  
  .info-parrafo p {
    font-size: 1.2rem;
  }
  
  .ss-boton {
    font-size: 1rem;
    padding: 1rem 3rem;
  }

  .bio-info h2 {
    font-family: var(--textos);
    font-size: 3rem;
    font-weight: 800;
    color: rgb(247, 196, 86);
    text-transform: uppercase;
  }
  
  .bio-fotos {
    gap: 2rem;
  }
  
  .bio-foto {
    width: 25%;
    height: 600px;
  }
  
  .contacto-info {
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
  }
  
  .contacto-foto {
    flex: 1;
    height: auto;
    background-image: url("../img/contacto-bkg-abajo.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .3s ease-in-out;
  }

}

@media screen and (max-width: 760px) {
  
  .primera-seccion-pc {
    display: none;
  }
  
  .ps-parte1,
  .ps-parte3 {
    display: none;
  }

  .primera-seccion-mobile {
    width: 100%;
    height: auto;
    display: flex;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    background-color: white;
  }
  
  .ps-parte1-mobile,
  .ps-parte3-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .ps-parte1-mobile img {
    width: 60%;
    margin: 1.5rem 0;
  }
  
  .ps-parte3-mobile img {
    width: 70%;
    margin-bottom: 1.5rem;
  }

  .ps-parte2-mobile {
    width: 100%;
    height: 600px;
    background-image: url("../img/fondo-virgen-mobile.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .contacto-main {
    padding: 3rem 2rem;
  }

  .contacto-abajo {
    gap: 2rem;
  }
  
  .contacto-formulario {
    width: 100%;
  } 
  
  .contacto-formulario form {
    width: 100%;
  }
  
  .contacto_nombre {
    width: 100%;
    padding: .5rem;
  }
  
  .contacto_email {
    width: 100%;
    padding: .5rem;
  }
  
  .contacto_selector {
    width: 100%;
    padding: .5rem;
  }
  
  .contacto_boton {
    width: 50%;
  }

}


@media screen and (max-width: 630px) {

  .video1 iframe,
  .video2 iframe,
  .video3 iframe {
    width: 400px;
    height: 190px;
  }
  
  .contacto-abajo {
    flex-direction: column-reverse;
    padding-top: 3rem;
    height: auto;
  }
  
  .contacto-foto {
    width: 100%;
    padding: 50%;
    background-image: url("../img/contacto-bkg-abajo.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .3s ease-in-out;
  }
  
  .contacto-formulario form {
    width: 80%;
  }

  .contacto_boton {
    width: 50%;
    padding: 10px;
  }
  
}


@media screen and (max-width:450px) {

  .header {
    padding: 1rem 2rem;
  }

  .lj-logo-menu h3 {
    font-family: var(--titulos);
    font-weight: 500;
    font-size: 3rem;
    letter-spacing: 4px;
    color: rgb(247, 196, 86);
    margin-bottom: 3rem;
  }
  
  .menu-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .menu-nav li {
    font-size: 1.4rem;
    text-align: center;
  }
  
  .video-pc {
    display: none;
  }
  
  .video-mobile {
    display: block;
    width: 100%;
  }
  
  .ps-parte1-mobile img {
    width: 80%;
    margin: 1.5rem 0;
  }
  
  .ps-parte3-mobile img {
    width: 80%;
    margin-bottom: 1.5rem;
  }

  .ps-parte2-mobile {
    width: 100%;
    height: 400px;
    background-image: url("../img/fondo-virgen-mobile.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size:contain;
  }

  .segunda-seccion {
    height: auto;
    flex-direction: column;
  }
  
  .parte1,
  .parte2 {
    width: 100%;
  }

  .parte2 h2 {
    font-size: 3rem;
  }
  
  .parte-info h3 {
    font-size: 2.5rem;
  }
  
  .info-parrafo p {
    font-size: 1rem;
  }

  .tercer-seccion h2 {
    font-size: 3rem;
  }
  
  .nombre-video-1 h5,
  .nombre-video-2 h5,
  .nombre-video-3 h5 {
    font-family: var(--textos);
    font-weight: 300;
    font-size: 1rem;
  }
  
  .nombre-video-1 h3,
  .nombre-video-2 h3,
  .nombre-video-3 h3 {
    font-family: var(--textos);
    font-weight: 700;
    font-size: 1.5rem;
  }
  
  .video1 iframe,
  .video2 iframe,
  .video3 iframe {
    width: 280px;
    height: 150px;
  }
  
  .footer-logo h3 {
    font-size: 2rem;
  }
  
  .footer-menu {
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
  }
  
  .footer-redes,
  .menu-redes {
    gap: 1.5rem;
  }
  
  .footer-redes i,
  .menu-redes i {
    font-size: 1rem;
  }

  .hero-bio-pc {
    display: none;
  }
  
  .hero-bio-mobile {
    display: block;
    width: 100%;
    height: 100vh;
    background-image: url("../img/hero-mobile-bkg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation:bg-pan-tr 2s both
}

@keyframes bg-pan-tr{0%{background-position:0 100%}100%{background-position:100% 0}}
  
  .bio-info {
    padding: 3rem;
  }
  
  .bio-info h2 {
    font-size: 2.3rem;
  }
  
  .bio-info h3 {
    font-size: 2.3rem;
  }
  
  .bio-info p {
    font-size: 1rem;
  }

  .bio-fotos {
    flex-direction: column;
  }
  
  .bio-foto {
    width: 80%;
    height: 280px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .3s ease-in-out;
  }

  .hero-contacto-pc {
    display: none;
  }
  
  .hero-contacto-mobile {
    display: block;
    width: 100%;
    height: 100vh;
    background-image: url("../img/contacto-mobile-bkg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(10px); 
    animation: clearBlur 1.5s ease-in-out forwards;
  }

  @keyframes clearBlur {
    0% {
      filter: blur(10px);
    }
    100% {
      filter: blur(0px);
    }
  }

  
  .contacto-titulo h3{
    font-size: 2rem;
  }
  
  .contacto-titulo h2 {
    font-size: 2.5rem;
  }

  .contacto-info {
    width: 100%;
  }
  
  .contactos-texto {
    font-size: 1.1rem;
    padding: 1rem;
  }
  
  .contactos-datos {
    font-size: 1.1rem;
    padding: 1rem;
  }
  
  .contacto-formulario {
    padding: 0;
  }
  
  .contacto-formulario h4 {
    font-size: 1.4rem;
  }
  
  .contacto-formulario form {
    width: 90%;
  }
  
}