/*****************/
/***** RESET *****/
/*****************/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --titulos: "Bebas Neue", sans-serif;
  --textos: "Montserrat", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/******************/
/***** HEADER *****/
/******************/

.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  background-color: rgba(14, 14, 14, .9);
  z-index: 1;
}

.lj-logo h3 {
  font-family: var(--titulos);
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 3px;
  color: rgb(247, 196, 86);
  z-index: 9;
  cursor: pointer;
}

.nav {
  position: fixed;
  z-index: 9;
  right: 0;
  top: 0;
  background-color: rgba(14, 14, 14, .95);
  height: 100dvh;
  width: 100%;
  padding: 2rem;
  /* box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75); */
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  transition: .2s;
}

.nav-visible {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.menu {
  height: 100%;
  display: flex;
  flex-direction: column;
/*   margin-top: 2rem; */
  gap: 2rem;
}

.menu a {
  width: 100%;
  color: white;
}

.menu li {
  width: 100%;
  padding: 1rem 3rem;
  transition: all .3s;
  cursor: pointer;
}

.menu li:hover {
  background-color: rgb(77, 77, 77);
}

.open-menu,
.close-menu {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.close-menu {
  padding-left: 2.5rem;
  color: rgb(255, 255, 255);
}

.open-menu {
  color: rgb(255, 254, 254);
  align-self: center;
}

.video-pc {
  width: 100%;
}

.video-mobile {
  display:none
}

/******************/
/****** MAIN ******/
/******************/

.primera-seccion {
  width: 100%;
  height: 100dvh;
  height: 100vh;
  background-image: url("../img/fondo-virgen-galeria.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-x: hidden;
}

.ps-parte1,
.ps-parte3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ps-parte1 img {
  width: 27%;
}

.ps-parte3 img {
  width: 50%;
}

.segunda-seccion {
  width: 100%;
  height: 100dvh;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.parte1,
.parte2 {
  position: relative;
  width: 50%;
  height: 100dvh;
  height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden;
  text-align: center;
}

.parte1 {
  background-image: url("../img/tercer-seccion-pt1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parte2 {
  background-image: url("../img/tercer-seccion-pt2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parte-info {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 7, 7, .9);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 3rem;
  transition: bottom 0.2s ease-in-out;
}

.parte-info h3 {
  font-size: 3.5rem;
  font-family: var(--titulos);
  font-weight: 300;
  letter-spacing: 20px;
}

.info-parrafo {
  width: 60%;
}

.info-parrafo p {
  font-size: 1.5rem;
  font-family: var(--textos);
  font-weight: 300;
}

.ss-boton {
  background: none;
  border: 2px solid white;
  padding: 1rem 5rem;
  border-radius: 10px;
  color: white;
  font-family: var(--textos);
  font-weight: 500;
  font-size: 1.5rem;
  transition: all .2s ease-in;
}

.ss-boton:hover {
  background-color: white;
  color: black;
  font-weight: 700;
  cursor: pointer;
}

.parte1:hover .parte-info,
.parte2:hover .parte-info {
  bottom: 0;
}

.tercer-seccion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 100%;
  height: auto;
  padding: 3rem;
  background-color: rgb(14, 14, 14);
  gap: 3rem;
}

.tercer-seccion h2 {
  font-family: var(--titulos);
  color: rgb(247, 196, 86);
  font-size: 5rem;
  font-weight: 100;
  letter-spacing: 10px;
}

.ts-parte {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  color: white;
}

.nombre-video-1,
.nombre-video-3 {
  text-align: right;
  margin-right: 3rem;
}

.nombre-video-2 {
  margin-left: 3rem;
}

.nombre-video-1 h5,
.nombre-video-2 h5,
.nombre-video-3 h5 {
  font-family: var(--textos);
  font-weight: 300;
  font-size: 2rem;
}

.nombre-video-1 h3,
.nombre-video-2 h3,
.nombre-video-3 h3 {
  font-family: var(--textos);
  font-weight: 700;
  font-size: 3rem;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  align-items: center;
  background-color: rgb(5, 5, 5); 
  color: white;
}

.footer-logo h3 {
  font-family: var(--titulos);
  font-weight: 500;
  font-size: 3rem;
  letter-spacing: 3px;
  color: rgb(247, 196, 86);
  cursor: pointer;
}

.footer-menu {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  
}

.footer-menu a {
  font-family: var(--textos);
  color: white;
  transition: all .3s;
}

.footer-menu a:hover {
  color: rgb(247, 196, 86);
}

.footer-redes {
  display: flex;
  gap: 5rem;
  margin-top: 2rem;
}

.footer-redes i {
  background-color: white;
  padding: .5rem;
  border-radius: 50%;
  font-size: 1.5rem;
  color: rgb(14, 14, 14);
  transition: all .3s;
}

.footer-redes i:hover {
  background-color: rgb(247, 196, 86);
  color: white;
}